# Modelling

## Set Up

In [1]:
import os
import pprint
import tempfile
import random
import math

from typing import Dict, Text

import numpy as np
import tensorflow as tf
import tensorflow_recommenders as tfrs
from typing import Dict, Text
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, Dot, Flatten

from sklearn.model_selection import train_test_split
# import tensorflow_datasets as tfds

random.seed(13)

## Data Wrangling

In [173]:
users_rating_model = pd.read_csv('user_ratings_clean_fix_4.csv', index_col=0)

In [174]:
users_rating_model.head()

,id_user,id_event,nama_event,lokasi,harga_tiket,durasi,timestamp,genre,nama_musisi,rating,lat,lng,id_event_organizer
0,528,2677,The Lonely Carnival,3043,819816,2,1675728000,Pop,Padi,5.0,37.416,-122.152,3
1,1164,1576,Acoustic Arena,1161,944923,2,1676332800,Pop,Payung Teduh,5.0,37.416,-122.152,11
2,1168,1737,Dance Drill,2404,1407616,3,1677888000,Pop,Kangen Band,5.0,40.722,-74.000,9
3,1992,180,Jakarta International Bazaar,3835,1336467,4,1679875200,Jazz,HIVI!,1.0,37.484,-122.149,46
4,695,105,Indonesia International Furniture Expo,1923,1163292,3,1675296000,Pop,Isyana Sarasvati,1.0,30.691,-88.044,15

In [175]:
ratings_df = users_rating_model.copy().drop(['lat', 'lng','lokasi'], axis=1)

In [176]:
ratings_df.head()

,id_user,id_event,nama_event,harga_tiket,durasi,timestamp,genre,nama_musisi,rating,id_event_organizer
0,528,2677,The Lonely Carnival,819816,2,1675728000,Pop,Padi,5.0,3
1,1164,1576,Acoustic Arena,944923,2,1676332800,Pop,Payung Teduh,5.0,11
2,1168,1737,Dance Drill,1407616,3,1677888000,Pop,Kangen Band,5.0,9
3,1992,180,Jakarta International Bazaar,1336467,4,1679875200,Jazz,HIVI!,1.0,46
4,695,105,Indonesia International Furniture Expo,1163292,3,1675296000,Pop,Isyana Sarasvati,1.0,15

In [177]:
events_model = pd.read_csv('events_clean_fix.csv', index_col=0)

In [178]:
events_model

,id_event,nama_event,id_event_organizer
0,75,Indonesia International Education & Training Expo,1
1,34,Prambanan Jazz Festival,2
2,71,Bali International Choir Festival,3
3,92,Indonesia International Motor Show,4
4,168,Yogyakarta International Gamelan Festival,5
...,...,...,...
3021,3022,Planet Fantasy Hub Festival,120
3022,3023,Gem of Magic Fantasy Festival,105
3023,3024,The Serial Fantasy King Festival,59
3024,3025,Ropes of Fantasy Kingdom,56
3025,3026,Back to Square Fantasy,189

In [179]:
ratings_df[['id_user', 'id_event']] = ratings_df[['id_user', 'id_event']].astype(str)

In [180]:
ratings_df['id_event_organizer'] = ratings_df['id_event_organizer'].astype(str)

In [181]:
ratings_df.rating

0        5.0
1        5.0
2        5.0
3        1.0
4        1.0
        ...
19995    5.0
19996    5.0
19997    5.0
19998    5.0
19999    5.0
Name: rating, Length: 20000, dtype: float64

In [182]:
ratings_df.rating = ratings_df.rating.apply(math.ceil)

In [183]:
ratings_df.rating

0        5
1        5
2        5
3        1
4        1
        ..
19995    5
19996    5
19997    5
19998    5
19999    5
Name: rating, Length: 20000, dtype: int64

In [184]:
ratings_df[ratings_df["rating"] > 5]

Empty DataFrame
Columns: [id_user, id_event, nama_event, harga_tiket, durasi, timestamp, genre, nama_musisi, rating, id_event_organizer]
Index: []

In [185]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 0 to 19999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_user             20000 non-null  object
 1   id_event            20000 non-null  object
 2   nama_event          20000 non-null  object
 3   harga_tiket         20000 non-null  int64
 4   durasi              20000 non-null  int64
 5   timestamp           20000 non-null  int64
 6   genre               20000 non-null  object
 7   nama_musisi         20000 non-null  object
 8   rating              20000 non-null  int64
 9   id_event_organizer  20000 non-null  object
dtypes: int64(4), object(6)
memory usage: 1.7+ MB

In [186]:
events_df = events_model.loc[:, ['id_event', 'nama_event']].astype(str)

In [187]:
events_df.head()

  id_event                                         nama_event
0       75  Indonesia International Education & Training Expo
1       34                            Prambanan Jazz Festival
2       71                  Bali International Choir Festival
3       92                 Indonesia International Motor Show
4      168          Yogyakarta International Gamelan Festival

## Df to TFDS

In [188]:
ratings = tf.data.Dataset.from_tensor_slices(dict(ratings_df[['id_user', 'nama_event', 'harga_tiket', 'durasi', 'genre', 'rating', 'id_event_organizer']]))
events =  tf.data.Dataset.from_tensor_slices(dict(events_df[['nama_event']]))

ratings = ratings.map(lambda x:{
    'nama_event' : x['nama_event'],
    'id_user' : x['id_user'],
    'genre' : x['genre'],
    'harga_tiket' : float(x['harga_tiket']),
    'durasi' :float(x['durasi']),
    'id_event_organizer' : x['id_event_organizer'],
    'rating':float(x['rating'])
})

events = events.map(lambda x: x['nama_event'])

In [189]:
'Total_data : {}'.format(len(ratings))

'Total_data : 20000'

In [190]:
tf.random.set_seed(42)
shuffled = ratings.shuffle(100_000, seed=42, reshuffle_each_iteration=False)

train = ratings.take(15_000)
test = ratings.skip(15_000).take(5_000)

In [191]:
events_name = events.batch(1_000)
user_ids = ratings.batch(1_000).map(lambda x: x["id_user"])

unique_events_name = np.unique(np.concatenate(list(events_name)))
unique_user_ids = np.unique(np.concatenate(list(user_ids)))

In [192]:
print('Unique Events: {}'.format(len(unique_events_name)))
print('Unique users: {}'.format(len(unique_user_ids)))

Unique Events: 1697
Unique users: 2099

# Tfrs with 1 embedding title

In [193]:
class EventModel(tfrs.models.Model):

  def __init__(self, rating_weight: float, retrieval_weight: float) -> None:
    # We take the loss weights in the constructor: this allows us to instantiate
    # several model objects with different loss weights.

    super().__init__()

    embedding_dimension = 70

    # User and movie models.
    self.event_model: tf.keras.layers.Layer = tf.keras.Sequential([
      tf.keras.layers.StringLookup(
        vocabulary=unique_events_name, mask_token=None),
      tf.keras.layers.Embedding(len(unique_events_name) + 1, embedding_dimension)
    ])
    self.user_model: tf.keras.layers.Layer = tf.keras.Sequential([
      tf.keras.layers.StringLookup(
        vocabulary=unique_user_ids, mask_token=None),
      tf.keras.layers.Embedding(len(unique_user_ids) + 1, embedding_dimension)
    ])

    # A small model to take in user and movie embeddings and predict ratings.
    # We can make this as complicated as we want as long as we output a scalar
    # as our prediction.
    self.rating_model = tf.keras.Sequential([
        tf.keras.layers.Dense(128, activation="relu"),
        tf.keras.layers.Dense(64, activation="relu"),
        tf.keras.layers.Dense(1),
    ])

    # The tasks.
    self.rating_task: tf.keras.layers.Layer = tfrs.tasks.Ranking(
        loss=tf.keras.losses.MeanSquaredError(),
        metrics=[tf.keras.metrics.RootMeanSquaredError()],
    )
    self.retrieval_task: tf.keras.layers.Layer = tfrs.tasks.Retrieval(
        metrics=tfrs.metrics.FactorizedTopK(
            candidates=events.batch(128).map(self.event_model)
        )
    )

    # The loss weights.
    self.rating_weight = rating_weight
    self.retrieval_weight = retrieval_weight

  def call(self, features: Dict[Text, tf.Tensor]) -> tf.Tensor:
    # We pick out the user features and pass them into the user model.
    user_embeddings = self.user_model(features["id_user"])
    # And pick out the movie features and pass them into the movie model.
    event_embeddings = self.event_model(features["nama_event"])
    
    return (
        user_embeddings,
        event_embeddings,
        # We apply the multi-layered rating model to a concatentation of
        # user and movie embeddings.
        self.rating_model(
            tf.concat([user_embeddings, event_embeddings], axis=1)
        ),
    )

  def compute_loss(self, features: Dict[Text, tf.Tensor], training=False) -> tf.Tensor:

    ratings = features.pop("rating")

    user_embeddings, event_embeddings, rating_predictions = self(features)

    # We compute the loss for each task.
    rating_loss = self.rating_task(
        labels=ratings,
        predictions=rating_predictions,
    )
    retrieval_loss = self.retrieval_task(user_embeddings, event_embeddings)

    # And combine them using the loss weights.
    return (self.rating_weight * rating_loss
            + self.retrieval_weight * retrieval_loss)

In [194]:
model = EventModel(rating_weight=1.0, retrieval_weight=1.0)
model.compile(optimizer=tf.keras.optimizers.Adagrad(0.1))

cached_train = train.shuffle(100_000).batch(1_000).cache()
cached_test = test.batch(1_000).cache()

model.fit(cached_train, epochs=3)

Epoch 1/3
15/15 [==============================] - 4s 164ms/step - root_mean_squared_error: 2.2318 - factorized_top_k/top_1_categorical_accuracy: 0.0000e+00 - factorized_top_k/top_5_categorical_accuracy: 0.0013 - factorized_top_k/top_10_categorical_accuracy: 0.0027 - factorized_top_k/top_50_categorical_accuracy: 0.0171 - factorized_top_k/top_100_categorical_accuracy: 0.0341 - loss: 6912.7279 - regularization_loss: 0.0000e+00 - total_loss: 6912.7279
Epoch 2/3
15/15 [==============================] - 2s 154ms/step - root_mean_squared_error: 1.0320 - factorized_top_k/top_1_categorical_accuracy: 0.0000e+00 - factorized_top_k/top_5_categorical_accuracy: 0.0113 - factorized_top_k/top_10_categorical_accuracy: 0.0459 - factorized_top_k/top_50_categorical_accuracy: 0.2817 - factorized_top_k/top_100_categorical_accuracy: 0.4493 - loss: 6797.2691 - regularization_loss: 0.0000e+00 - total_loss: 6797.2691
Epoch 3/3
15/15 [==============================] - 2s 163ms/step - root_mean_squared_error: 1.0032 - factorized_top_k/top_1_categorical_accuracy: 6.6667e-05 - factorized_top_k/top_5_categorical_accuracy: 0.0239 - factorized_top_k/top_10_categorical_accuracy: 0.1022 - factorized_top_k/top_50_categorical_accuracy: 0.5139 - factorized_top_k/top_100_categorical_accuracy: 0.6836 - loss: 6228.5528 - regularization_loss: 0.0000e+00 - total_loss: 6228.5528

In [195]:
metrics = model.evaluate(cached_test, return_dict=True)

print(f"\nRetrieval top-100 accuracy: {metrics['factorized_top_k/top_100_categorical_accuracy']:.3f}")
print(f"Ranking RMSE: {metrics['root_mean_squared_error']:.3f}")

5/5 [==============================] - 1s 164ms/step - root_mean_squared_error: 1.4788 - factorized_top_k/top_1_categorical_accuracy: 2.0000e-04 - factorized_top_k/top_5_categorical_accuracy: 6.0000e-04 - factorized_top_k/top_10_categorical_accuracy: 0.0016 - factorized_top_k/top_50_categorical_accuracy: 0.0122 - factorized_top_k/top_100_categorical_accuracy: 0.0252 - loss: 7000.6466 - regularization_loss: 0.0000e+00 - total_loss: 7000.6466

Retrieval top-100 accuracy: 0.025
Ranking RMSE: 1.479

In [196]:
# model.save_weights('model_1.h5')

In [197]:
def predict_event(user, top_n=3):
    # Create a model that takes in raw query features, and
    index = tfrs.layers.factorized_top_k.BruteForce(model.user_model)
    # recommends movies out of the entire movies dataset.
    index.index_from_dataset(
      tf.data.Dataset.zip((events.batch(100), events.batch(100).map(model.event_model)))
    )

    # Get recommendations.
    _, titles = index(tf.constant([str(user)]))
    
    print('Top {} recommendations for user {}:\n'.format(top_n, user))
    for i, title in enumerate(titles[0, :top_n].numpy()):
        print('{}. {}'.format(i+1, title.decode("utf-8")))

def predict_rating(user, event):
    trained_movie_embeddings, trained_user_embeddings, predicted_rating = model({
          "id_user": np.array([str(user)]),
          "nama_event": np.array([event])
      })
    print("Predicted rating for {}: {}".format(event, predicted_rating.numpy()[0][0]))

In [198]:
users_rating_model['id_user'].unique()

array([ 528, 1164, 1168, ...,  231,  622, 1633], dtype=int64)

In [199]:
 users_rating_model.loc[users_rating_model['id_user']==777, ['id_user','nama_event','rating']]

       id_user                             nama_event  rating
1903       777              The Devil’s Horns Blowout     5.0
5843       777  Borobudur Writers & Cultural Festival     1.0
6243       777                 The Wanderers Festival     2.0
7613       777                       Vintageer Sounds     2.0
8151       777                        Opera Operation     5.0
8563       777                         Lavender Isles     5.0
10472      777                           Funk Groover     5.0
11062      777                        Euphony Affairs     4.0
14905      777                       Bouncy Bacchanal     5.0
18637      777                  Music Talent Festival     5.0

In [200]:
users_rating_model.groupby(['id_user', 'nama_event'])

In [201]:
predict_event(5, 20)

Top 20 recommendations for user 5:

1. Jazz Halo
2. Jazz Halo
3. Jazz Halo
4. Jazz Halo
5. Jazz Halo
6. Dance Zone
7. Dance Zone
8. Dance Zone
9. Dance Zone
10. Cosmopolitan Composition

In [202]:
predict_rating(777,'Jakarta International Handicraft Trade Fair')

Predicted rating for Jakarta International Handicraft Trade Fair: 0.6032429933547974

In [203]:
predict_rating(777,'Yogyakarta Batik Festival')

Predicted rating for Yogyakarta Batik Festival: 1.5709630250930786

# DCN Model

In [204]:
import pprint

%matplotlib inline
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable

import numpy as np
import tensorflow as tf
# import tensorflow_datasets as tfds
from sklearn import preprocessing

import tensorflow_recommenders as tfrs

In [205]:
class Model(tfrs.Model):

  def __init__(self, model):
    super().__init__()
    self._model = model
    self._logit_layer = tf.keras.layers.Dense(1)

    self.task = tfrs.tasks.Ranking(
      loss=tf.keras.losses.MeanSquaredError(),
      metrics=[
        tf.keras.metrics.RootMeanSquaredError("RMSE")
      ]
    )

  def call(self, x):
    x = self._model(x)
    return self._logit_layer(x)

  def compute_loss(self, features, training=False):
    x, labels = features
    scores = self(x)

    return self.task(
        labels=labels,
        predictions=scores,
    )

In [206]:
crossnet = Model(tfrs.layers.dcn.Cross())
deepnet = Model(
    tf.keras.Sequential([
      tf.keras.layers.Dense(512, activation="relu"),
      tf.keras.layers.Dense(256, activation="relu"),
      tf.keras.layers.Dense(128, activation="relu")
    ])
)

In [207]:
genre = ratings_df['genre'].unique()

In [208]:
len(genre)

7

In [209]:
genre

array(['Pop', 'Jazz', 'Dangdut', 'Electronic', 'R&B', 'Rock', 'Indie'],
      dtype=object)

In [210]:
label_encoder = preprocessing.LabelEncoder()

In [211]:
ratings_df['genre']=label_encoder.fit_transform(ratings_df['genre'])

In [212]:
ratings_df['genre'].unique()

array([4, 3, 0, 1, 5, 6, 2])

In [213]:
label_encoder.transform(['Pop'])

array([4])

In [214]:
ratings_df = ratings_df.rename(columns={'rating':'user_rating'})

In [215]:
ratings = tf.data.Dataset.from_tensor_slices(dict(ratings_df[['id_user', 'id_event', 'nama_event', 'harga_tiket', 'durasi', 'genre',  'id_event_organizer','user_rating']]))
events =  tf.data.Dataset.from_tensor_slices(dict(events_df[['nama_event']]))

# ratings = tf.data.Dataset.from_tensor_slices(dict(ratings_df[['id_user', 'id_event', 'nama_event', 'durasi', 'genre',  'id_event_organizer','user_rating']]))
# events =  tf.data.Dataset.from_tensor_slices(dict(events_df[['nama_event']]))

# ratings = tf.data.Dataset.from_tensor_slices(dict(ratings_df[['id_user', 'harga_tiket', 'durasi', 'genre',  'id_event_organizer','user_rating']]))
# events =  tf.data.Dataset.from_tensor_slices(dict(events_df[['nama_event']]))

ratings = ratings.map(lambda x:{
    'nama_event' : x['nama_event'],
    'id_user' : x['id_user'],
    'genre' : int(x['genre']),
    'harga_tiket' : float(x['harga_tiket']),
    'durasi' :float(x['durasi']),
    'id_event' : x['id_event'],
    'id_event_organizer' : x['id_event_organizer'],
    'user_rating':float(x['user_rating'])
})

events = events.map(lambda x: x['nama_event'])

In [216]:
'Total_data : {}'.format(len(ratings))

'Total_data : 20000'

In [217]:
tf.random.set_seed(42)
shuffled = ratings.shuffle(100_000, seed=42, reshuffle_each_iteration=False)

train = ratings.take(19_000)
test = ratings.skip(19_000).take(1_000)

In [218]:
feature_names = ['nama_event', 'id_user', 'id_event', 'genre', 'harga_tiket',
                'durasi', 'id_event_organizer']

# feature_names = ['nama_event', 'id_user', 'genre', 
#                 'durasi', 'id_event_organizer']

# feature_names = ['id_user', 'genre', 'harga_tiket',
#                 'durasi', 'id_event_organizer']


vocabularies = {}

for feature_name in feature_names:
  vocab = ratings.batch(1_000_000).map(lambda x: x[feature_name])
  vocabularies[feature_name] = np.unique(np.concatenate(list(vocab)))

In [219]:
tf.random.set_seed(42)

class DCN(tfrs.Model):

  def __init__(self, use_cross_layer, deep_layer_sizes, projection_dim=None):
    super().__init__()

    self.embedding_dimension = 32

    str_features = ['nama_event', 'id_user', 'id_event', 'id_event_organizer']
    int_features = ['genre','harga_tiket','durasi']
    
#     str_features = ['nama_event', 'id_user', 'id_event_organizer']
#     int_features = ['genre','durasi']
    
#     str_features = ['id_user', 'id_event_organizer']
#     int_features = ['genre','harga_tiket','durasi']

    self._all_features = str_features + int_features
    self._embeddings = {}

    # Compute embeddings for string features.
    for feature_name in str_features:
      vocabulary = vocabularies[feature_name]
      self._embeddings[feature_name] = tf.keras.Sequential(
          [tf.keras.layers.StringLookup(
              vocabulary=vocabulary, mask_token=None),
           tf.keras.layers.Embedding(len(vocabulary) + 1,
                                     self.embedding_dimension)
    ])

    # Compute embeddings for int features.
    for feature_name in int_features:
      vocabulary = vocabularies[feature_name]
      self._embeddings[feature_name] = tf.keras.Sequential(
          [tf.keras.layers.IntegerLookup(
              vocabulary=vocabulary, mask_token=None),
           tf.keras.layers.Embedding(len(vocabulary) + 1,
                                     self.embedding_dimension)
    ])

    if use_cross_layer:
      self._cross_layer = tfrs.layers.dcn.Cross(
          projection_dim=projection_dim,
          kernel_initializer="glorot_uniform")
    else:
      self._cross_layer = None

    self._deep_layers = [tf.keras.layers.Dense(layer_size, activation="relu")
      for layer_size in deep_layer_sizes]

    self._logit_layer = tf.keras.layers.Dense(1)

    self.task = tfrs.tasks.Ranking(
      loss=tf.keras.losses.MeanSquaredError(),
      metrics=[tf.keras.metrics.RootMeanSquaredError("RMSE")]
    )

  def call(self, features):
    # Concatenate embeddings
    embeddings = []
    for feature_name in self._all_features:
      embedding_fn = self._embeddings[feature_name]
      embeddings.append(embedding_fn(features[feature_name]))

    x = tf.concat(embeddings, axis=1)

    # Build Cross Network
    if self._cross_layer is not None:
      x = self._cross_layer(x)

    # Build Deep Network
    for deep_layer in self._deep_layers:
      x = deep_layer(x)

    return self._logit_layer(x)

  def compute_loss(self, features, training=False):
    labels = features.pop("user_rating")
    scores = self(features)
    return self.task(
        labels=labels,
        predictions=scores,
    )

In [220]:
tf.random.set_seed(42)

cached_train = train.shuffle(100_000).batch(8192).cache()
cached_test = test.batch(4096).cache()

In [221]:
def run_models(use_cross_layer, deep_layer_sizes, projection_dim=None, num_runs=5):
  models = []
  rmses = []

  for i in range(num_runs):
    model = DCN(use_cross_layer=use_cross_layer,
                deep_layer_sizes=deep_layer_sizes,
                projection_dim=projection_dim)
    model.compile(optimizer=tf.keras.optimizers.Adam(0.01))
    models.append(model)

    model.fit(cached_train, epochs=8, verbose=False)
    metrics = model.evaluate(cached_test, return_dict=True)
    rmses.append(metrics["RMSE"])

  mean, stdv = np.average(rmses), np.std(rmses)

  return {"model": models, "mean": mean, "stdv": stdv}

In [222]:
epochs = 8
learning_rate = 0.01

In [223]:
dcn_result = run_models(use_cross_layer=True,
                        deep_layer_sizes=[192, 192])

1/1 [==============================] - 1s 529ms/step - RMSE: 0.3251 - loss: 0.1057 - regularization_loss: 0.0000e+00 - total_loss: 0.1057
1/1 [==============================] - 0s 171ms/step - RMSE: 0.7222 - loss: 0.5215 - regularization_loss: 0.0000e+00 - total_loss: 0.5215
1/1 [==============================] - 0s 204ms/step - RMSE: 0.4806 - loss: 0.2310 - regularization_loss: 0.0000e+00 - total_loss: 0.2310
1/1 [==============================] - 0s 155ms/step - RMSE: 1.1259 - loss: 1.2677 - regularization_loss: 0.0000e+00 - total_loss: 1.2677
1/1 [==============================] - 0s 234ms/step - RMSE: 0.2937 - loss: 0.0862 - regularization_loss: 0.0000e+00 - total_loss: 0.0862

- epochs 8, lr 0.01 =  1.1000
- epochs 10 =  1.2659

In [224]:
dcn_lr_result = run_models(use_cross_layer=True,
                           projection_dim=20,
                           deep_layer_sizes=[192, 192])

1/1 [==============================] - 0s 251ms/step - RMSE: 0.6146 - loss: 0.3778 - regularization_loss: 0.0000e+00 - total_loss: 0.3778
1/1 [==============================] - 0s 279ms/step - RMSE: 0.6365 - loss: 0.4051 - regularization_loss: 0.0000e+00 - total_loss: 0.4051
1/1 [==============================] - 0s 301ms/step - RMSE: 0.5265 - loss: 0.2772 - regularization_loss: 0.0000e+00 - total_loss: 0.2772
1/1 [==============================] - 0s 177ms/step - RMSE: 0.5144 - loss: 0.2646 - regularization_loss: 0.0000e+00 - total_loss: 0.2646
1/1 [==============================] - 0s 160ms/step - RMSE: 0.3585 - loss: 0.1285 - regularization_loss: 0.0000e+00 - total_loss: 0.1285

epochs 8 = 1.1451

In [225]:
dnn_result = run_models(use_cross_layer=False,
                        deep_layer_sizes=[192, 192, 192])

1/1 [==============================] - 0s 169ms/step - RMSE: 1.2780 - loss: 1.6332 - regularization_loss: 0.0000e+00 - total_loss: 1.6332
1/1 [==============================] - 0s 290ms/step - RMSE: 1.1278 - loss: 1.2720 - regularization_loss: 0.0000e+00 - total_loss: 1.2720
1/1 [==============================] - 0s 244ms/step - RMSE: 1.2997 - loss: 1.6892 - regularization_loss: 0.0000e+00 - total_loss: 1.6892
1/1 [==============================] - 0s 193ms/step - RMSE: 1.0216 - loss: 1.0437 - regularization_loss: 0.0000e+00 - total_loss: 1.0437
1/1 [==============================] - 0s 166ms/step - RMSE: 0.9966 - loss: 0.9931 - regularization_loss: 0.0000e+00 - total_loss: 0.9931

epochs 8 = 1.6964

In [226]:
print("DCN            RMSE mean: {:.4f}, stdv: {:.4f}".format(
    dcn_result["mean"], dcn_result["stdv"]))
print("DCN (low-rank) RMSE mean: {:.4f}, stdv: {:.4f}".format(
    dcn_lr_result["mean"], dcn_lr_result["stdv"]))
print("DNN            RMSE mean: {:.4f}, stdv: {:.4f}".format(
    dnn_result["mean"], dnn_result["stdv"]))

DCN            RMSE mean: 0.5895, stdv: 0.3081
DCN (low-rank) RMSE mean: 0.5301, stdv: 0.0982
DNN            RMSE mean: 1.1447, stdv: 0.1258

### Data fix 2
**Tanpa event_name feature**
- DCN            RMSE mean: 1.4269, stdv: 0.4206
- DCN (low-rank) RMSE mean: 1.3793, stdv: 0.2845
- DNN            RMSE mean: 2.2950, stdv: 0.6278

**Fetures lengkap**
- DCN            RMSE mean: 1.1822, stdv: 0.0348
- DCN (low-rank) RMSE mean: 1.1756, stdv: 0.0576
- DNN            RMSE mean: 1.9404, stdv: 0.4395

### Data fix 3

- DCN            RMSE mean: 1.3951, stdv: 0.0167
- DCN (low-rank) RMSE mean: 1.3745, stdv: 0.0323
- DNN            RMSE mean: 1.7456, stdv: 0.3024

### Data fix 4

- DCN            RMSE mean: 0.9175, stdv: 0.4032
- DCN (low-rank) RMSE mean: 0.7568, stdv: 0.0603
- DNN            RMSE mean: 2.2006, stdv: 0.4556

Data train 19.000
- DCN            RMSE mean: 0.5895, stdv: 0.3081
- DCN (low-rank) RMSE mean: 0.5301, stdv: 0.0982
- DNN            RMSE mean: 1.1447, stdv: 0.1258

In [227]:
model = DCN(use_cross_layer=True,
            projection_dim=20,
            deep_layer_sizes=[192, 192])
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate))
model.fit(cached_train, epochs=epochs, verbose=False)

In [228]:
model.predict(cached_test)

1/1 [==============================] - 0s 133ms/step

array([[1.9948149],
       [2.6911776],
       [4.1947417],
       [4.46236  ],
       [3.3874931],
       [4.270931 ],
       [2.546702 ],
       [4.6900525],
       [4.2120633],
       [2.6658823],
       [4.5601835],
       [4.5123267],
       [4.4087543],
       [4.288321 ],
       [4.4293656],
       [4.1918073],
       [4.282169 ],
       [4.6247497],
       [1.1142228],
       [4.105821 ],
       [4.657616 ],
       [4.2951264],
       [4.4589987],
       [4.394216 ],
       [4.2626863],
       [4.7157655],
       [4.2017646],
       [3.439419 ],
       [1.3915036],
       [4.3802595],
       [4.051696 ],
       [4.4706073],
       [3.3393378],
       [4.2438154],
       [3.382625 ],
       [4.2800393],
       [2.7197313],
       [4.436844 ],
       [4.176309 ],
       [3.3349433],
       [1.797564 ],
       [4.29916  ],
       [1.3418839],
       [4.347187 ],
       [2.6545024],
       [4.629436 ],
       [1.1504211],
       [2.6442513],
       [4.340005 ],
       [3.531597 ],
       [4.245331 ],
       [4.248265 ],
       [3.657569 ],
       [4.5801764],
       [1.537517 ],
       [4.542908 ],
       [3.272488 ],
       [4.614988 ],
       [4.2533345],
       [4.323861 ],
       [4.373136 ],
       [4.6727824],
       [4.298652 ],
       [4.2922254],
       [2.1264439],
       [4.7138352],
       [2.6143532],
       [4.2530417],
       [4.4862275],
       [4.6134143],
       [4.4330325],
       [4.3107047],
       [4.364552 ],
       [4.6069694],
       [4.2277155],
       [4.108642 ],
       [4.350282 ],
       [4.3715014],
       [4.398498 ],
       [4.1713543],
       [4.2706804],
       [1.8124118],
       [2.7842472],
       [2.5355759],
       [4.3974223],
       [4.5663295],
       [4.3485003],
       [4.446531 ],
       [1.4018794],
       [1.7788231],
       [4.1306424],
       [4.410786 ],
       [4.3049445],
       [4.1745887],
       [4.3695025],
       [4.2257886],
       [1.724421 ],
       [4.4957376],
       [4.4529643],
       [4.6578526],
       [4.543097 ],
       [4.159618 ],
       [4.6195087],
       [4.106051 ],
       [3.6251283],
       [4.463922 ],
       [4.460479 ],
       [4.6996427],
       [4.4882007],
       [4.317387 ],
       [1.616962 ],
       [4.3354626],
       [4.3347106],
       [1.5249994],
       [4.0734863],
       [4.676042 ],
       [4.4735107],
       [4.4133706],
       [4.4043527],
       [4.509172 ],
       [4.3825674],
       [4.236731 ],
       [4.489935 ],
       [4.297917 ],
       [4.1370263],
       [4.421152 ],
       [4.757669 ],
       [4.1841908],
       [4.34506  ],
       [4.1067715],
       [4.37534  ],
       [4.2533855],
       [1.2496908],
       [4.571508 ],
       [4.3370357],
       [4.3789487],
       [4.599999 ],
       [4.415765 ],
       [4.6775365],
       [4.4997706],
       [3.2886682],
       [1.4455781],
       [4.7106366],
       [4.335002 ],
       [4.6622224],
       [4.651006 ],
       [3.4178083],
       [4.338487 ],
       [1.5694886],
       [4.4742417],
       [4.5333295],
       [3.4199905],
       [4.7062154],
       [4.1221585],
       [1.918777 ],
       [2.4252734],
       [3.3649278],
       [4.49453  ],
       [4.4988427],
       [4.277883 ],
       [4.6609325],
       [3.5132256],
       [4.4888215],
       [1.6458505],
       [4.1985564],
       [4.389341 ],
       [2.5264764],
       [4.3155847],
       [4.2634993],
       [4.2900853],
       [4.4809985],
       [2.4124959],
       [1.5311962],
       [4.554463 ],
       [4.3317924],
       [4.4747396],
       [4.014344 ],
       [4.1844554],
       [4.2156463],
       [4.28935  ],
       [1.6201079],
       [4.510018 ],
       [4.1751146],
       [1.7296704],
       [4.5054717],
       [4.4507804],
       [4.4541125],
       [4.41875  ],
       [4.4576154],
       [4.2445636],
       [4.2020307],
       [4.411793 ],
       [4.3796163],
       [4.4768305],
       [1.2154627],
       [4.31418  ],
       [2.520842 ],
       [4.7755446],
       [4.5579495],
       [1.9104972],
       [1.203547 ],
       [4.4168296],
       [4.259464 ],
       [1.5004145],
       [4.4845386],
       [2.6506824],
       [4.561731 ],
       [4.3930116],
       [4.5384727],
       [1.7003562],
       [4.372486 ],
       [4.2215486],
       [4.57125  ],
       [4.6539063],
       [4.2911954],
       [4.3388033],
       [4.529547 ],
       [4.455918 ],
       [4.597322 ],
       [1.2612375],
       [4.7224455],
       [4.6039543],
       [2.5925741],
       [1.1465759],
       [4.15888  ],
       [4.224155 ],
       [4.7791862],
       [4.1659775],
       [4.503965 ],
       [4.6547165],
       [4.3123803],
       [4.5845275],
       [4.268392 ],
       [4.2629533],
       [4.4435825],
       [4.54178  ],
       [4.224585 ],
       [4.246569 ],
       [4.3378577],
       [4.574916 ],
       [4.3689003],
       [4.0300193],
       [4.3120284],
       [4.348389 ],
       [4.359585 ],
       [4.5598817],
       [1.3968753],
       [4.654948 ],
       [4.411013 ],
       [4.232762 ],
       [4.287789 ],
       [4.41034  ],
       [4.2686715],
       [4.4133563],
       [4.4724383],
       [3.2720523],
       [4.270633 ],
       [4.4509273],
       [4.2571726],
       [1.2487133],
       [4.120478 ],
       [4.2747602],
       [4.394797 ],
       [4.4003787],
       [4.1476307],
       [4.2519746],
       [1.5316939],
       [1.1930494],
       [4.6412416],
       [4.484773 ],
       [4.1892486],
       [4.223079 ],
       [4.4181027],
       [4.502527 ],
       [4.4317384],
       [2.563787 ],
       [4.4966226],
       [2.5654202],
       [3.5422552],
       [4.2826896],
       [4.2375937],
       [3.1600409],
       [4.462009 ],
       [1.2423413],
       [4.2144837],
       [4.441856 ],
       [1.3753803],
       [4.454841 ],
       [4.362935 ],
       [4.640987 ],
       [4.200082 ],
       [4.5942373],
       [1.3959862],
       [4.4900403],
       [4.374511 ],
       [4.2716713],
       [4.3025875],
       [4.2815633],
       [4.25905  ],
       [4.344005 ],
       [4.064643 ],
       [4.322332 ],
       [4.7514462],
       [1.3927491],
       [4.6818156],
       [1.6537716],
       [4.5145445],
       [4.3323727],
       [1.7372339],
       [4.33052  ],
       [2.1357613],
       [4.4324203],
       [3.4915287],
       [3.465868 ],
       [4.1500745],
       [4.290953 ],
       [4.2219324],
       [1.7442385],
       [1.1282895],
       [4.220183 ],
       [2.6874995],
       [4.7329774],
       [4.2374077],
       [4.137522 ],
       [4.295716 ],
       [4.3947263],
       [3.3809643],
       [3.610291 ],
       [4.3796287],
       [4.4370694],
       [4.1920476],
       [4.5659246],
       [1.4925427],
       [4.556112 ],
       [4.5043383],
       [3.41852  ],
       [4.2370486],
       [3.5768008],
       [3.9366586],
       [1.4804938],
       [4.186817 ],
       [4.559612 ],
       [4.4476852],
       [4.4650683],
       [1.2234237],
       [4.6579223],
       [4.370505 ],
       [4.320755 ],
       [4.4389787],
       [2.6191683],
       [2.5195608],
       [4.2791705],
       [1.1776133],
       [2.5425062],
       [4.5015483],
       [4.366017 ],
       [4.3658714],
       [4.42442  ],
       [4.6310725],
       [4.4481683],
       [4.3136325],
       [4.2483935],
       [4.350837 ],
       [4.384699 ],
       [3.4828448],
       [4.3147383],
       [4.41868  ],
       [1.8097224],
       [4.555262 ],
       [4.6449227],
       [4.5121503],
       [4.340944 ],
       [4.4466977],
       [4.4715962],
       [4.417113 ],
       [4.2920585],
       [4.1487355],
       [4.3537803],
       [4.627694 ],
       [4.2742925],
       [4.359346 ],
       [1.6718452],
       [4.2725954],
       [4.5903525],
       [4.4317183],
       [3.2865047],
       [4.3126864],
       [4.4520082],
       [2.511394 ],
       [4.473663 ],
       [2.620768 ],
       [4.6576724],
       [4.496562 ],
       [1.8845038],
       [2.4739857],
       [4.5577283],
       [4.272811 ],
       [4.2618136],
       [4.7462955],
       [1.6964021],
       [1.7085016],
       [4.200417 ],
       [4.4701753],
       [4.28108  ],
       [4.6060905],
       [4.197682 ],
       [4.459806 ],
       [4.496863 ],
       [4.050318 ],
       [4.143327 ],
       [4.1582637],
       [2.7705433],
       [4.5480824],
       [4.6823506],
       [4.2440667],
       [4.261266 ],
       [3.5405467],
       [1.452839 ],
       [4.4609194],
       [2.2725396],
       [4.0674715],
       [3.5965004],
       [4.4178586],
       [4.403728 ],
       [4.3689933],
       [3.966432 ],
       [4.1139417],
       [4.3925667],
       [2.491384 ],
       [4.264795 ],
       [4.4970946],
       [3.2435327],
       [4.262861 ],
       [4.4335704],
       [4.4242673],
       [4.216186 ],
       [2.16297  ],
       [4.4683995],
       [1.6805018],
       [4.3063645],
       [4.6037374],
       [1.632083 ],
       [4.543965 ],
       [4.6546936],
       [4.547832 ],
       [4.689142 ],
       [4.495025 ],
       [4.2022147],
       [4.4435716],
       [2.7634315],
       [3.5873065],
       [4.4440103],
       [4.2014923],
       [1.5600345],
       [3.3379326],
       [4.096969 ],
       [4.189605 ],
       [4.57066  ],
       [4.4165044],
       [4.584335 ],
       [1.3777378],
       [4.698128 ],
       [3.9920495],
       [3.3126206],
       [1.8676693],
       [4.1497707],
       [2.7442493],
       [1.481185 ],
       [4.3476357],
       [4.393716 ],
       [2.0227194],
       [4.736569 ],
       [4.35764  ],
       [4.3881106],
       [4.2252526],
       [4.6315503],
       [4.594628 ],
       [4.617259 ],
       [1.1679208],
       [4.242678 ],
       [4.3350997],
       [4.3767266],
       [4.2587185],
       [1.7921844],
       [4.1795506],
       [4.5389132],
       [4.4440165],
       [4.2075286],
       [4.369612 ],
       [1.5836103],
       [4.3185773],
       [3.6183434],
       [4.1380305],
       [4.389199 ],
       [4.655369 ],
       [4.7235637],
       [4.2092423],
       [4.2653956],
       [4.3358693],
       [4.3261952],
       [4.5463805],
       [4.259148 ],
       [4.360288 ],
       [1.9526055],
       [4.6367717],
       [2.1475983],
       [4.265814 ],
       [4.2191234],
       [4.6537094],
       [4.576864 ],
       [4.413161 ],
       [4.2585874],
       [4.3326025],
       [4.5392694],
       [4.209727 ],
       [4.294443 ],
       [2.5371046],
       [3.4937458],
       [1.6814251],
       [4.3148427],
       [4.630873 ],
       [4.3841553],
       [4.1173058],
       [4.3671336],
       [4.352108 ],
       [1.5699985],
       [4.321746 ],
       [4.0885005],
       [4.4642396],
       [1.8764697],
       [3.5094433],
       [4.646219 ],
       [4.454265 ],
       [4.419073 ],
       [3.2972655],
       [4.2637353],
       [4.2974033],
       [4.293094 ],
       [4.3669467],
       [4.6061788],
       [4.233782 ],
       [1.7872146],
       [4.2294126],
       [4.2245297],
       [4.310476 ],
       [4.380341 ],
       [2.490325 ],
       [4.511468 ],
       [4.4455466],
       [4.4791427],
       [4.3589435],
       [4.177803 ],
       [4.4628763],
       [3.4805055],
       [4.395097 ],
       [4.25472  ],
       [4.297004 ],
       [2.4969342],
       [4.4994683],
       [2.8600636],
       [4.2728   ],
       [1.3639591],
       [4.1739655],
       [4.176969 ],
       [4.238659 ],
       [4.530805 ],
       [1.1733935],
       [3.1167011],
       [4.508878 ],
       [4.4240265],
       [4.5731983],
       [4.4447823],
       [4.3886294],
       [4.4699926],
       [4.3599772],
       [2.1523983],
       [3.9251902],
       [4.545468 ],
       [4.4984193],
       [4.705519 ],
       [4.648292 ],
       [4.676098 ],
       [4.5461845],
       [3.5233111],
       [4.415282 ],
       [4.386951 ],
       [4.711382 ],
       [2.1776268],
       [4.513616 ],
       [4.446178 ],
       [4.6805663],
       [4.191937 ],
       [4.354792 ],
       [4.353    ],
       [4.583117 ],
       [4.697964 ],
       [3.684375 ],
       [4.3314986],
       [2.8155015],
       [4.164368 ],
       [4.3653846],
       [4.3690324],
       [3.5519156],
       [4.4996696],
       [3.0067377],
       [2.5134916],
       [4.4839387],
       [4.3065734],
       [4.6012964],
       [4.3458753],
       [1.2633704],
       [3.5646393],
       [4.44432  ],
       [1.6956893],
       [4.383886 ],
       [4.671249 ],
       [1.4121101],
       [4.2944984],
       [4.2803617],
       [1.8975731],
       [4.645204 ],
       [4.6113896],
       [4.5335164],
       [1.8263159],
       [4.1660924],
       [2.559249 ],
       [1.8216618],
       [4.6271234],
       [4.442911 ],
       [4.5286903],
       [2.6006258],
       [4.5956807],
       [4.58966  ],
       [4.4859138],
       [4.292234 ],
       [4.6419187],
       [3.4926782],
       [3.7898421],
       [3.4012659],
       [4.7614493],
       [4.629615 ],
       [3.8684745],
       [4.3105464],
       [3.3936315],
       [4.3935075],
       [4.385636 ],
       [4.6086264],
       [4.233475 ],
       [4.6238546],
       [4.1594973],
       [1.4704237],
       [3.497951 ],
       [4.2223916],
       [4.360952 ],
       [4.2642317],
       [2.3587732],
       [4.5874357],
       [4.276815 ],
       [4.5334654],
       [4.2835937],
       [4.5355387],
       [4.082123 ],
       [1.8540201],
       [2.6628265],
       [4.7641263],
       [2.6481776],
       [4.1630936],
       [4.301891 ],
       [4.415555 ],
       [4.241647 ],
       [4.3320727],
       [4.320596 ],
       [2.4929156],
       [4.266277 ],
       [4.391341 ],
       [4.183946 ],
       [1.5930178],
       [4.632568 ],
       [4.6093173],
       [4.6452403],
       [4.3077207],
       [4.797821 ],
       [4.0529747],
       [4.355538 ],
       [4.507227 ],
       [4.357283 ],
       [1.7323451],
       [3.4202223],
       [4.320474 ],
       [4.6547346],
       [4.291985 ],
       [2.456314 ],
       [4.5027003],
       [4.276515 ],
       [4.1913056],
       [4.620196 ],
       [4.310849 ],
       [2.580823 ],
       [4.064872 ],
       [4.3861995],
       [4.346662 ],
       [4.5173836],
       [2.5346377],
       [4.0367603],
       [4.1939244],
       [4.516177 ],
       [4.2707114],
       [4.296771 ],
       [3.3439693],
       [4.4635296],
       [4.588287 ],
       [4.3518267],
       [4.2582498],
       [3.2909198],
       [4.4844556],
       [4.6395545],
       [4.528703 ],
       [4.528632 ],
       [4.5138483],
       [4.5230465],
       [1.3273256],
       [2.4981034],
       [4.5982184],
       [4.504959 ],
       [4.5949073],
       [1.3500557],
       [4.5055547],
       [4.685518 ],
       [4.519999 ],
       [1.4610255],
       [4.411266 ],
       [4.351032 ],
       [4.6184278],
       [4.142246 ],
       [4.4704146],
       [4.539858 ],
       [4.6267776],
       [4.500335 ],
       [4.4358144],
       [3.3944066],
       [4.322399 ],
       [2.846664 ],
       [1.7841538],
       [4.5613666],
       [4.472641 ],
       [4.346097 ],
       [4.254761 ],
       [4.395999 ],
       [3.3145745],
       [4.4099865],
       [4.631222 ],
       [2.4750788],
       [1.8102894],
       [4.469767 ],
       [4.417087 ],
       [3.3854837],
       [4.375692 ],
       [4.421264 ],
       [3.8898046],
       [2.0256844],
       [4.2287655],
       [4.7197995],
       [4.304503 ],
       [1.2030445],
       [4.511036 ],
       [4.1765866],
       [4.219856 ],
       [3.5204182],
       [4.2437053],
       [4.5788894],
       [2.508995 ],
       [4.1885123],
       [4.404986 ],
       [4.211269 ],
       [4.5263467],
       [2.505506 ],
       [4.6292124],
       [1.6484077],
       [4.5954504],
       [4.390446 ],
       [4.1769934],
       [4.196627 ],
       [4.3802705],
       [2.6569283],
       [4.2298303],
       [4.449392 ],
       [4.3764186],
       [4.144687 ],
       [4.1973853],
       [4.407166 ],
       [4.2849174],
       [4.3105845],
       [4.2431273],
       [4.498563 ],
       [1.1664081],
       [4.274129 ],
       [4.3862405],
       [2.468758 ],
       [4.742178 ],
       [1.3702066],
       [4.161739 ],
       [4.410134 ],
       [4.2920766],
       [2.5167792],
       [4.474172 ],
       [1.5890139],
       [2.2877467],
       [4.0832334],
       [4.5028634],
       [4.2340393],
       [4.238981 ],
       [4.2522645],
       [4.645679 ],
       [4.5061936],
       [4.3449035],
       [3.5504608],
       [4.397237 ],
       [2.5521905],
       [4.2484922],
       [4.187769 ],
       [4.4707127],
       [4.5603843],
       [1.5963227],
       [2.5403666],
       [4.3823237],
       [1.738148 ],
       [4.450546 ],
       [4.654794 ],
       [4.19115  ],
       [4.4516096],
       [4.4680753],
       [1.1822972],
       [4.3240867],
       [4.69275  ],
       [4.3494697],
       [1.6804706],
       [4.637265 ],
       [4.1077456],
       [1.578584 ],
       [4.449199 ],
       [4.3601346],
       [1.2202938],
       [4.4077544],
       [4.3993196],
       [4.655844 ],
       [4.223582 ],
       [4.2152505],
       [4.5787654],
       [3.7125673],
       [1.1863885],
       [4.613863 ],
       [3.297327 ],
       [4.4708467],
       [1.3254132],
       [4.31337  ],
       [2.4768333],
       [4.176992 ],
       [4.288052 ],
       [4.35166  ],
       [4.693909 ],
       [4.5066094],
       [4.4637775],
       [1.33017  ],
       [4.405885 ],
       [4.3150487],
       [4.334192 ],
       [4.6428742],
       [4.1283135],
       [1.4607631],
       [1.4417703],
       [2.6201148],
       [4.2708855],
       [4.5831723],
       [4.6024413],
       [4.5129123],
       [4.2735295],
       [2.6991973],
       [4.285017 ],
       [4.1934433],
       [1.148123 ],
       [4.612289 ],
       [4.612286 ],
       [1.8505505],
       [4.4690466],
       [4.7009797],
       [4.64638  ],
       [4.482224 ],
       [4.4286203],
       [4.1749825],
       [4.4586363],
       [4.7481885],
       [4.038926 ],
       [1.7080307],
       [1.3668488],
       [4.317959 ],
       [1.4755409],
       [1.6957839],
       [1.6881955],
       [4.594024 ],
       [4.549939 ],
       [4.4420485],
       [2.4942102],
       [4.5528693],
       [1.3925209],
       [4.500356 ],
       [4.537829 ],
       [4.3004603],
       [4.4634056],
       [4.711169 ],
       [3.3762727],
       [4.394995 ],
       [4.534695 ],
       [4.6626725],
       [4.2671094],
       [1.3002532],
       [4.5620384],
       [4.1662307],
       [4.573775 ],
       [4.4286094],
       [4.359835 ],
       [4.582829 ],
       [4.651321 ],
       [2.5774271],
       [4.4052076],
       [1.2912817],
       [4.2539473],
       [4.3283334],
       [2.3796258],
       [4.3756223],
       [4.4922786],
       [4.4357343],
       [4.361688 ],
       [3.270203 ],
       [4.365763 ],
       [4.58073  ],
       [4.1225133],
       [4.6219387],
       [4.267391 ],
       [4.297829 ],
       [4.317474 ],
       [3.4871144],
       [4.354056 ],
       [4.4628625],
       [4.1311493],
       [4.733041 ],
       [4.2083316],
       [4.266723 ],
       [4.632812 ],
       [1.3176236],
       [4.2092557],
       [4.506535 ],
       [4.695309 ],
       [4.3595853],
       [3.6702662],
       [1.6246897],
       [1.4843503],
       [4.213083 ],
       [4.4583025],
       [4.435674 ],
       [4.427542 ],
       [4.4123473],
       [4.627023 ],
       [4.5003753],
       [2.29523  ],
       [4.1394286],
       [3.4659786],
       [2.7398913],
       [4.327416 ],
       [4.4646406],
       [4.4485464],
       [4.7541633],
       [2.7664142],
       [4.6135545],
       [4.607885 ],
       [4.3608146],
       [4.509801 ],
       [1.2938071],
       [2.607255 ],
       [4.540903 ],
       [4.5050635],
       [2.570891 ],
       [4.377021 ],
       [4.197625 ],
       [4.2840233],
       [4.462218 ],
       [4.7016273],
       [4.242785 ],
       [4.5303864],
       [4.5997167],
       [2.4280295],
       [4.2186894],
       [3.2560377],
       [4.4828043],
       [4.58595  ],
       [4.1984487],
       [4.226853 ],
       [4.159704 ],
       [4.246999 ],
       [4.497116 ],

In [229]:
def get_column_value(row):
    return row['user_rating']

In [230]:
model.summary()

Model: "dcn_34"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 sequential_252 (Sequential)  (None, 32)               160

 sequential_250 (Sequential)  (None, 32)               256

 sequential_251 (Sequential)  (None, 32)               95680

 sequential_248 (Sequential)  (None, 32)               95808

 sequential_249 (Sequential)  (None, 32)               6400

 sequential_247 (Sequential)  (None, 32)               67200

 sequential_246 (Sequential)  (None, 32)               53920

 cross_26 (Cross)            multiple                  9184

 dense_129 (Dense)           multiple                  43200

 dense_130 (Dense)           multiple                  37056

 dense_131 (Dense)           multiple                  193

 ranking_40 (Ranking)        multiple                  0

=================================================================
Total params: 409,057
Trainable params: 409,057
Non-trainable params: 0
_________________________________________________________________

# Testing

In [374]:
test_1 = ratings_df[ratings_df['user_rating']==5].drop(['user_rating'], axis=1)

In [375]:
ratings = tf.data.Dataset.from_tensor_slices(dict(test_1[['id_user', 'id_event', 'nama_event', 'harga_tiket', 'durasi', 'genre',  'id_event_organizer']]))
# events =  tf.data.Dataset.from_tensor_slices(dict(test_1[['nama_event']]))

# ratings = tf.data.Dataset.from_tensor_slices(dict(ratings_df[['id_user', 'id_event', 'nama_event', 'durasi', 'genre',  'id_event_organizer','user_rating']]))
# events =  tf.data.Dataset.from_tensor_slices(dict(events_df[['nama_event']]))

# ratings = tf.data.Dataset.from_tensor_slices(dict(ratings_df[['id_user', 'harga_tiket', 'durasi', 'genre',  'id_event_organizer','user_rating']]))
# events =  tf.data.Dataset.from_tensor_slices(dict(events_df[['nama_event']]))

ratings = ratings.map(lambda x:{
    'durasi' :float(x['durasi']),
    'genre' : int(x['genre']),
    'harga_tiket' : float(x['harga_tiket']),
    'id_event' : x['id_event'],
    'id_event_organizer' : x['id_event_organizer'],
    'id_user' : x['id_user'],
    'nama_event' : x['nama_event'],
#     'user_rating':float(x['user_rating'])
})

# events = events.map(lambda x: x['nama_event'])

{'durasi': TensorSpec(shape=(None,), dtype=tf.float32, name='durasi'),
 'genre': TensorSpec(shape=(None,), dtype=tf.int32, name='genre'),
 'harga_tiket': TensorSpec(shape=(None,), dtype=tf.float32, name='harga_tiket'),
 'id_event': TensorSpec(shape=(None,), dtype=tf.string, name='id_event'),
 'id_event_organizer': TensorSpec(shape=(None,), dtype=tf.string, name='id_event_organizer'),
 'id_user': TensorSpec(shape=(None,), dtype=tf.string, name='id_user'),
 'nama_event': TensorSpec(shape=(None,), dtype=tf.string, name='nama_event')}
  Keyword arguments: {'training': False}

In [376]:
test_1

,id_user,id_event,nama_event,harga_tiket,durasi,timestamp,genre,nama_musisi,id_event_organizer
0,528,2677,The Lonely Carnival,819816,2,1675728000,4,Padi,3
1,1164,1576,Acoustic Arena,944923,2,1676332800,4,Payung Teduh,11
2,1168,1737,Dance Drill,1407616,3,1677888000,4,Kangen Band,9
6,141,2522,The Ultimate Spring Fest,1294087,3,1680048000,4,HIVI!,5
7,1190,2121,Queen’s Music Mela,868304,2,1676592000,4,Sheila On 7,22
...,...,...,...,...,...,...,...,...,...
19995,2077,1765,Beats Bacchanal,356083,4,1678406400,1,Repvblik,103
19996,1378,2541,Old Spring Laneway Festival,97498,3,1672617600,0,Agnes Monica,115
19997,1053,1899,Zero Point Music,455380,1,1673654400,2,Gigi,69
19998,1153,1450,Lost Lands,146014,4,1677456000,6,Payung Teduh,171
19999,1910,2715,The Funk Savage,238285,2,1682899200,2,Agnes Monica,66

In [377]:
# tf.random.set_seed(42)
# shuffled = ratings.shuffle(100_000, seed=42, reshuffle_each_iteration=False)

# train = ratings.take(15_000)
# test = ratings.skip(15_000).take(5_000)

In [378]:
feature_names = ['nama_event', 'id_user', 'id_event', 'genre', 'harga_tiket',
                'durasi', 'id_event_organizer']

# feature_names = ['nama_event', 'id_user', 'genre', 
#                 'durasi', 'id_event_organizer']

# feature_names = ['id_user', 'genre', 'harga_tiket',
#                 'durasi', 'id_event_organizer']


vocabularies = {}

for feature_name in feature_names:
  vocab = ratings.batch(1_000_000).map(lambda x: x[feature_name])
  vocabularies[feature_name] = np.unique(np.concatenate(list(vocab)))

In [379]:
cached_test = ratings.batch(4096).cache()

In [380]:
model.predict(cached_test)

4/4 [==============================] - 0s 36ms/step

array([[4.3892994],
       [4.3258405],
       [4.2658224],
       ...,
       [4.2469993],
       [4.4971166],
       [4.2469788]], dtype=float32)

In [381]:
model.save("content_model", save_format='tf')

WARNING:absl:Found untraced functions such as ranking_40_layer_call_fn, ranking_40_layer_call_and_return_conditional_losses, _update_step_xla, dense_layer_call_fn, dense_layer_call_and_return_conditional_losses while saving (showing 5 of 7). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: content_model\assets

INFO:tensorflow:Assets written to: content_model\assets

In [2]:
loaded_model = tf.keras.models.load_model('./content_model')

In [384]:
predicted_values = loaded_model.predict(cached_test)

4/4 [==============================] - 1s 28ms/step

In [385]:
predicted_values

array([[4.3893   ],
       [4.3258405],
       [4.265822 ],
       ...,
       [4.246999 ],
       [4.497116 ],
       [4.2469788]], dtype=float32)

In [394]:
len(predicted_values)

15525

In [395]:
predicted_values.flatten()

array([4.3893   , 4.3258405, 4.265822 , ..., 4.246999 , 4.497116 ,
       4.2469788], dtype=float32)

# Variable Importance

In [3]:
layer = loaded_model.layers[1]